<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body style="margin-left: 37%;">
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
      </figure>
    <h1 class="titulo">Agregar Película</h1>
    <br>
    <section class="formulario" >
        <form action="/movies/create" method="POST">
            <label  for="title">Title </label>
            <p><input style="border-radius: 5px;" type="text" name="title" id="title" value="<%= locals.old && old.title ? old.title : null %>"></p>
            <small style="color: red;"><%= locals.errors && errors.title ? errors.title.msg : null %></small>

            <label  for="rating">Rating </label>
            <p><input style="border-radius: 5px;" type="number" name="rating" id="rating" value="<%= locals.old && old.rating? old.rating : null %>"></p>
            <small style="color: red;"><%= locals.errors && errors.rating ? errors.rating.msg : null %></small>

            <label  for="awards">Awards </label>
            <p><input style="border-radius: 5px;" type="number" name="awards" id="awards"value="<%= locals.old && old.awards ? errors.awards ? null : old.awards : null %>" ></p>
            <small style="color: red;"><%= locals.errors && errors.awards? errors.awards.msg : null %></small>

            <label  for="release_date">Release date </label>
            <p><input style="border-radius: 5px;" type="date" name="release_date" id="release_date" value="<%= locals.old && old.release_date ? errors.release_date ? null : old.release_date : null %>"></p>
            <small style="color: red;"><%= locals.errors && errors.release_date ? errors.release_date.msg : null %></small>

            <label  for="length">Length </label>
            <p><input style="border-radius: 5px;" type="number" name="length" id="length" value="<%= locals.old && old.length ? errors.length ? null : old.length : null %>"></p>
            <small style="color: red;"><%= locals.errors && errors.length ? errors.length.msg : null %></small>

            <label  for="genre_id">Generos :</label>
            <select style="border-radius: 5px;" name="genre_id" id="genre_id">
                <option value="" hidden selected>Seleccione el genero</option>
                <% genres.forEach(genre => { %>
                    <option value="<%= genre.id %>"><%= genre.name %> </option>
                
                <% }) %> 
            </select>

            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
        </form>
    </section>
    
</body>

</html>